.nav.submenu {
  background-color: $dropdown-bg;
  border:           $dropdown-border-width solid $dropdown-border-color;
  border-radius:    $dropdown-border-radius;
  color:            $body-color;
  display:          none;
  min-width:        $dropdown-min-width;
  padding:          $dropdown-padding-y 0;
  position:         absolute;
  white-space:      nowrap;
  z-index:          $zindex-dropdown;

  &.open {
    display: block;
  }

  &.right {
    right: 0;
  }

  .submenu-title {
    display:   block;
    font-size: $font-size-base * 1.25;
    padding:   $dropdown-item-padding-y $dropdown-item-padding-x;
  }

  .mdi-close {
    font-size: $font-size-base * 1.25;
    padding:   $dropdown-item-padding-y $dropdown-item-padding-x;
    position:  absolute;
    right:     0;
    top:       0 + $dropdown-padding-y;
  }

  .menu-subtitle {
    margin-top: $dropdown-padding-y;
  }

  .nav-link {
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;

    &:hover {
      background-color: $dropdown-bg;
      border-color:     transparent;
    }

    &.active {
      background-color: $dropdown-link-active-bg;
      border-color:     transparent;
      color:            $dropdown-link-active-color;
    }
  }
}

.flex-column .nav.submenu {
  position: relative;
  border: 0;
}
