// Buttons

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
}

// Forms

label {
  font-size: $label-font-size;
  margin-bottom: $label-margin-bottom;
}

.form-group {
  &.required label:after {
    content: '*';
    margin-left: $label-asterisk-margin-left;
    font-size: $label-asterisk-font-size;
    color: $primary;
    display: inline-block;
    font-weight: 500;
    line-height: 1;
    z-index: 1;
  }
}

.form-control {
  border-left: $form-control-border-left $input-border-color;

  &:hover:not(:focus):not(:disabled):not(:read-only) {
    border-color: $input-border-color-hover;
    transition: $transition-all-fast;
  }

  &:focus {
    border-color: $input-border-color-focus;
  }
}

form.was-validated {
  .form-control:valid:hover {
    border-color: $success!important;
  }

  .form-control:invalid:hover {
    border-color: $danger!important;
  }

  .form-control.untouched {
    &:invalid {
      border-color:  $input-border-color !important;
      padding-right: $input-padding-x !important;
      background:    none !important;

      &:focus {
        border-color:       $input-border-color-focus !important;
        -webkit-box-shadow: $input-focus-box-shadow;
        box-shadow:         $input-focus-box-shadow;
      }
    }

    &:hover:not(:focus):not(:disabled):not(:read-only) {
      border-color: $input-border-color-hover !important;
      transition:   $transition-all-fast !important;
    }
  }
}

::-webkit-input-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: rgba($body-color, .7) !important;
}

// Links

a {
  transition: $transition-color-fast;
}

.dropdown-menu a {
  transition: none;
}