// Buttons

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
}

// Forms

label {
  font-size: $label-font-size;
  margin-bottom: $label-margin-bottom;
}

.form-group {
  &.required label:after {
    content: '*';
    margin-left: $label-asterisk-margin-left;
    font-size: $label-asterisk-font-size;
    color: $primary;
    display: inline-block;
    font-weight: 500;
    line-height: 1;
    z-index: 1;
  }

  .form-control:hover:not(:focus):not(:disabled):not(:read-only) {
    border-color: rgba($input-border-color, .5);
    transition: $transition-all-fast;
  }

  .form-control:hover:not(:disabled):not(:read-only)::-webkit-input-placeholder,
  .form-control:hover:not(:disabled):not(:read-only)::-ms-input-placeholder,
  .form-control:hover:not(:disabled):not(:read-only)::placeholder {
    color: rgba($body-color, .7)!important;
    transition: $transition-color-fast;
  }
}

form.was-validated {
  .form-control:valid:hover {
    border-color: $success!important;
  }

  .form-control:invalid:hover {
    border-color: $danger!important;
  }
}

::-webkit-input-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: rgba($body-color, .7) !important;
}

// Links

a {
  transition: $transition-color-fast;
}