// Buttons

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
}

// Forms

label {
  font-size:   $label-font-size;
  font-weight: $label-font-weight;
}

.form-group {
  &.required label:after {
    content: '*';
    margin-left: $label-asterisk-margin-left;
    font-size: $label-asterisk-font-size;
    color: $primary;
    display: inline-block;
    font-weight: 500;
    line-height: 1;
    z-index: 1;
  }
}

.form-control {
  border-left: $form-control-border-left;

  &:focus {
    border-color: $input-border-color-focus;
  }
}

.form-control-plaintext {
  &:focus {
    outline: solid 2px rgba($primary, .25);
  }
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-color: rgba($form-feedback-invalid-color, .1);
}

.was-validated .form-control:valid,
.form-control.is-valid {
  background-color: rgba($form-feedback-valid-color, .1);
}

.was-validated .input-group .form-control:invalid,
.was-validated .input-group .form-control:valid,
.input-group .form-control.is-invalid,
.input-group .form-control.is-valid {
  // background-position: right center;
}

.password-toggle {
  background-color: $input-bg;
  padding: 0 .815rem;
  font-size: 1.15rem;
  line-height: 1.15rem;
}

.is-invalid .password-toggle {
  background-color: rgba($form-feedback-invalid-color, .1);;
}

.is-valid .password-toggle {
  background-color: rgba($form-feedback-valid-color, .1);;
}

// Links

a {
  transition: $transition-color-fast;
}

.dropdown-menu a {
  transition: none;
}

// Modals

.modal.blur {
  backdrop-filter: $modal-blur;
}

.modal-backdrop {
  opacity: $modal-backdrop-opacity;
}

.modal-header {
  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    color: inherit;
  }
}

// Alerts

.alert {
  font-size: $alert-font-size;
}
