.alert.mdi::before,
.breadcrumb .mdi::before,
.btn.mdi::before,
.card-title.mdi::before,
.card-subtitle.mdi::before,
.card-link.mdi::before,
.dropdown-item.mdi::before,
.list-group-item.mdi::before,
.nav-link.mdi::before {
  font-size: 1.25em;
  line-height: initial;
  position: relative;
  top: 0.09rem;
}
.alert.mdi::before,
.breadcrumb .mdi:not(:empty)::before,
.btn.mdi:not(:empty)::before,
.card-title.mdi:not(:empty)::before,
.card-subtitle.mdi:not(:empty)::before,
.card-link.mdi:not(:empty)::before,
.dropdown-item.mdi:not(:empty)::before,
.nav-link.mdi:not(:empty)::before {
  margin-right: 0.25rem;
}
.list-group-item.mdi:not(:empty)::before {
  margin-right: 0.5rem;
}
.dropdown-item.mdi:not(:empty)::before {
  margin-left: -0.75rem;
}
.alert.mdi::before,
.list-group-item.mdi:not(:empty)::before {
  margin-left: -0.5rem;
}
.modal-title.mdi::before {
  font-size: 1.5em;
  line-height: 0.5;
  position: relative;
  top: 0.26rem;
  margin-right: 0.5rem;
}
.form-group.position-relative {
  .form-control {
    padding-right: $input-padding-x + 1.5rem;
  }
  .mdi {
    position: absolute;
    right: 1rem;
    bottom: $input-line-height * $input-font-size / 2;
  }
  .form-text ~ .mdi {
    bottom: $input-line-height * $input-font-size / 2 + $form-text-margin-top + ( $small-font-size * $line-height-base );
  }
}
.was-validated .form-group.position-relative {
  .form-control {
    padding-right: $input-padding-x + 3rem;
  }
  .mdi {
    right: 2.5rem;
  }
  :valid ~ .mdi {
    bottom: $input-line-height * $input-font-size / 2;
  }
  :invalid ~ .invalid-feedback ~ .mdi,
  :valid ~ .form-text ~ .mdi {
    bottom: $input-line-height * $input-font-size / 2 + $form-text-margin-top + ( $small-font-size * $line-height-base );
  }
  :invalid ~ .form-text ~ .invalid-feedback ~ .mdi {
    bottom: $input-line-height * $input-font-size / 2 + ( $form-text-margin-top + ( $small-font-size * $line-height-base ) ) * 2;
  }
}
