// Body
$body-bg:    #fafafa;
$body-color: #4c6876;

// Breakpoints
$grid-breakpoints: (
  xs:  0,
  sm:  576px,
  md:  768px,
  lg:  992px,
  xl:  1200px,
  xxl: 2000px
);

// Colors
$blue:   #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink:   #e83e8c;
$red:    #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green:  #00c081; // Done
$teal:   #20c997;
$cyan:   #17a2b8;

$primary:   $blue;
$secondary: #1d2530;
$success:   $green;
$info:      $cyan;
$warning:   $yellow;
$danger:    $red;

// Fonts
$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Forms
$label-display:            block;
$label-font-size:          .875rem;
$label-margin-bottom:      0;
$label-span-margin-bottom: .5rem;

$input-padding-y: .75rem;
$input-padding-x: 1rem;
$input-font-size: .875rem;

$input-color:        $body-color;
$input-border-color: rgba($body-color, .3);

$input-focus-box-shadow: none;

$form-group-margin-bottom: 1.25rem;

$btn-padding-y: .5rem;
$btn-padding-x: 1.5rem;
$btn-font-size: .875rem;

$btn-font-weight:      600;
$btn-focus-box-shadow: none !important;

// Typography
$font-size-base: 1rem;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.125;
$h6-font-size: $font-size-base;

$headings-margin-bottom: 1.25rem;
$headings-font-weight:   600;