#default {
  @include flexbox();
  @include align-items(stretch);
  width:                 100%;
  min-height:            100vh;
  background-color:      $gray-200;

  aside {
    @include flex(0 $sidebar-width);
    z-index: 1;

    // Todo We might want to remote this workaround when we can use portals in vue3
    .wrapper {
      position:         relative;
      width:            $sidebar-width;
      background-color: $secondary;
      color:            $white;
      padding:          $sidebar-padding-y $sidebar-padding-x;
      min-height:       100vh;
    }
  }

  & > div.content {
    @include flex(1);
    min-height: 100vh;
  }

  header {
    height:           $header-height;
    border-bottom:    $header-border-bottom;
    background-color: $white;

    .container-fluid {
      padding: $header-padding-y $header-padding-x;
    }
  }

  main {
    background-color: $white;

    .container-fluid {
      padding: $main-padding-y $main-padding-x;
    }
  }

  footer {
    border-top: 1px solid $border-color;

    .container-fluid {
      padding: $footer-padding-y $footer-padding-x;
    }
  }
}

@include media-breakpoint-down(lg) {
  #default {
    aside {
      @include flex(0 $sidebar-width-small);

      .wrapper {
        width: $sidebar-width-small;
      }
    }
  }
}
