// Layout

#default {
  background-color: $gray-200;
  min-height:       100vh;

  aside {
    background-color: $secondary;
    color:            $white;
    min-width:        $sidebar-width;
    width:            $sidebar-width;
    z-index:          10;
  }

  #content {
    header {
      background-color: $white;
      border-bottom:    $header-border-bottom;
      height:           $header-height;
    }

    main {
      background-color: $white;
    }
  }
}

@include media-breakpoint-down(lg) {
  #default {
    aside {
      min-width: $sidebar-width-small;
      width:     $sidebar-width-small;
    }
  }
}

// Main navigation

@mixin scrollbar-style {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: -ms-autohiding-scrollbar;  /* IE and Edge */

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: $primary $mainnav-submenu-background;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    width: .625rem;
  }
  &::-webkit-scrollbar-button {
    width: .125rem;
    height: .125rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($primary, .5);
    border: 2px solid $mainnav-submenu-background;
    border-radius: .3125rem;
  }
}

#main-navigation {
  .nav-link {
    align-items: center;
    color:       $white;
    display:     flex;
    font-size:   $mainnav-font-size;
    font-weight: $mainnav-font-weight;
    padding:     $mainnav-navlink-padding-y $mainnav-navlink-padding-x;

    &.menu-subtitle {
      color: $mainnav-menu-subtitle-color;

      &:hover {
        background-color: $mainnav-menu-subtitle-background;
      }
    }

    &.mdi:before {
      font-size:    $mainnav-navicon-size;
      margin-right: 1.5rem;
      top:          0;
      transition:   $transition-font-size;
    }

    &:hover, &.active {
      background-color: lighten($secondary, 5%);
    }
  }
}

.main-navigation-submenu .submenu {
  -webkit-overflow-scrolling: touch;
  background-color:           $mainnav-submenu-background;
  border:                     0;
  box-shadow:                 0 0 3px $black;
  display:                    block;
  left:                       $sidebar-width - $mainnav-submenu-width;
  max-height:                 80vh;
  min-height:                 $mainnav-submenu-height;
  overflow-y:                 scroll;
  padding:                    $mainnav-submenu-padding-y $mainnav-submenu-padding-x;
  position:                   absolute;
  top:                        0;
  transition:                 .3s ease-in-out;
  transition-property:        left, visibility;
  visibility:                 hidden;
  width:                      $mainnav-submenu-width;
  z-index:                    5;

  // Custom scrollbar
  @include scrollbar-style;

  &.open {
    left:       $sidebar-width;
    visibility: visible;
    z-index:    6;
  }

  .mdi-close {
    font-size:  $mainnav-submenu-title-size;
    padding:    $mainnav-navlink-padding-y $mainnav-submenu-padding-x;
    position:   absolute;
    right:      0 + $mainnav-submenu-padding-x;
    top:        0 + $mainnav-submenu-padding-y;
    transition: $transition-all-fast;

    &:hover {
      color: $white;
    }
  }

  .submenu-title {
    color:     $white;
    font-size: $mainnav-submenu-title-size;
    padding:   $mainnav-navlink-padding-y $mainnav-submenu-padding-x;
  }

  .nav-link {
    border-radius: 2px;
    color:         $white;
    font-size:     $mainnav-font-size;
    font-weight:   $mainnav-font-weight;
    padding:       $mainnav-navlink-padding-y $mainnav-submenu-padding-x;

    &.menu-subtitle {
      color: $mainnav-menu-subtitle-color;
      margin-top: 1.5rem;

      &:hover {
        background-color: $mainnav-menu-subtitle-background;
      }
    }

    &:hover, &.active {
      background-color: $secondary;
    }
  }
}

@include media-breakpoint-down(lg) {
  #main-navigation {
    .nav-link {
      flex-direction: column;
      padding:        $mainnav-navlink-padding-y .25rem;
      font-size:      $mainnav-font-size-small;

      &.mdi:before {
        font-size:    $mainnav-navicon-size * 1.5;
        margin-right: 0;
      }
    }
  }

  .main-navigation-submenu .submenu {
    left:  $sidebar-width-small - $mainnav-submenu-width-small;
    width: $mainnav-submenu-width-small;

    &.open {
      left: $sidebar-width-small;
    }

    .submenu-title {
      font-size: $mainnav-submenu-title-size-small;
      padding:   $mainnav-navlink-padding-y ($mainnav-navlink-padding-x / 2);
    }

    .mdi-close {
      font-size: $mainnav-submenu-title-size-small;
      padding:   $mainnav-navlink-padding-y ($mainnav-navlink-padding-x / 2);
    }

    .nav-link {
      padding: $mainnav-navlink-padding-y ($mainnav-navlink-padding-x / 2);

      &.mdi:before {
        font-size:    $mainnav-navicon-size;
        margin-right: 1rem;
      }

      &.menu-subtitle {
        margin-top: 1rem;
      }
    }
  }
}

@supports (position: sticky) or (position: -webkit-sticky) {
  .main-navigation-submenu {
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 5;

    .submenu {
      -webkit-overflow-scrolling: touch;
      max-height:                 80vh;
      overflow-y:                 scroll;

      @include scrollbar-style;
    }
  }
}
